# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
client/build
client/tmp

# Only exists if Bazel was run
bazel-out

# dependencies
client/node_modules
server/node_modules
client/build

# IDEs and editors
.idea
.project

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# System Files
.DS_Store
Thumbs.db

