
# node.js
server/package.json
client/package.json
server/package-lock.json
client/package-lock.json
server/node_modules
client/node_modules

# jest/typedoc
server/coverage
client/coverage
server/docs
client/docs

# gitlab
.gitlab-ci.yml

# application
client/build
